.square {
    background: linear-gradient(317deg, rgb(129, 51, 231) 0%, rgb(171, 118, 240) 100%);
    width: 72px;
    height: 72px;
    border-radius: 16px;
    position: relative;
    margin-bottom: 12px;
}
.easy .square, .easy .square > div {
    width: 88px;
    height: 88px;
}
.hard .square, .hard .square > div {
    width: 64px;
    height: 64px;
}

.square:active {
    animation: jump .4s;
}

@keyframes jump {
    0% {
        transform: scale(1);
        
    }
    80% {
        transform: scale(1.4);
        
    }
    100% {
        transform: scale(1);
    }

}



.square > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
}

.bubble-w {
    position: absolute;
    background-color: white;
    border-radius: 57% 34% 94% 0% / 94% 25% 66% 0%;
}
.bubble-w.bwo{
    width: 16px;
    height: 8px;
    top: 6px;
    left: 2px;
    transform: rotate(-25deg);
}
.bubble-w.bwt {
    width: 14px;
    height: 8px;
    bottom: 4px;
    right: 4px;
    transform: rotate(165deg);
}

.square-container {
    padding-top: 14px;
}
.square .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.square-image {
    width: 82%;
    transform: scale(0);
}
.in { animation : in .4s forwards; }
.out { animation : out .4s forwards; }
.opened, .discovered {transform: scale(1);}
.closed{transform: scale(0);}
@keyframes in {
    0% {transform: scale(0);}
    80% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

@keyframes out {
    0% {transform: scale(1);}
    20% {transform: scale(1.2);}
    100% {transform: scale(0);}
}